body {
  background-color: #f8f9fa;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 48px;
}

.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-detail {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-detail-body {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */

  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: black;
}

.modal-detail-header {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  margin: 0;
  padding: 10px;
}

.modal-detail-body h1,
p {
  margin: 10px 10px;
}

p {
  font-size: 18px;
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.map {
  position: relative;
}